.content {
    padding-top: 90px;
	.top-content {
        span {
            @include float-pos
            padding-bottom: 5px;
            @include ipad {
                display: none;
            }
        }
        ul {
        @include float-pos
        li {
            @include float-pos
            padding-right: 10px;
           }
        }
        h1 {
            text-align: center;
            font-size: 42px;
            letter-spacing: 5px;    
        }
    }
    .chart-content {
        @include ipad {
                display: none;
            }
        li {
            @include l-phone {
                padding-bottom: 5px;
                width: 50%;
            }
        }
    }
	h2{
		display: inline; 
	    font-size: 24px;
	    border-bottom: 5px solid #f05f40;
        padding-bottom: 5px;
    }
    .menu-content {
    	padding-top: 30px;
    	li {
    		box-shadow: 0px 2px 10px rgba(34,34,34,0.8);
    		line-height: 1.8em;
    		margin-bottom: 20px;
    		h3 {
    			font-size: 24px;
    			background-color: #fff;
    			padding: 20px;
                cursor: pointer;
                &:hover {
                    background-color: rgba(55,118,29,0.1);
                }
                @include l-phone {
                    font-size: 20px;
                }
    		}
    		p {
                font-size: 18px;
    			background-color: rgba(55,118,29,0.8);
                color: white;
    			padding: 20px;
                a {
                    color: $link-color;
                }
    		}
    	}
    }
}

.rotate{
    transform:rotate(90deg);
}