.footer {
	height: 55px;
	background-color: #37761D;
	h5 {
		text-align: center;
		padding-top: 20px;
		color: white;
		a {
			color: $link-color;
		}
	}
}

.comment-ico {
	position: fixed;
	bottom: 90px;
	right: 15px;
	text-align: center;
	@include ipad {
		border-radius: 10px;
		padding: 10px;
		background-color: rgba(55,118,29,0.1);
		}
	a {
		display: inline-block;
		span {
		display: block;
		font-size: 12px;
		padding-top: 5px;
		}	
	}
}

.scroll-top {
	position: fixed;
	bottom: 25px;
	right: 20px;
	@include ipad {
		display: none;
	}
	}