.footer {
	height: 55px;
	background-color: #37761D;
	h5 {
		text-align: center;
		padding-top: 20px;
		color: white;
		a {
			color: $link-color;
		}
	}
}

.scroll-top {
	position: fixed;
	bottom: 25px;
	right: 20px;
	}

.comment {
	position: fixed;
	bottom: 90px;
	right: 8px;
	a {
	font-size: 12px;
	}
}